<footer class="footer">

    <div>

        <h3>
            FUTBOL STORE
        </h3>

        <p>
            Las mejores camisetas del mundo.
        </p>

    </div>

    <div>

        <h3>
            Contacto
        </h3>

        <p>
            ventas@futbolstore.com
        </p>

        <p>
            +54 351 0000000
        </p>

    </div>

    <div>

        <h3>
            Redes Sociales
        </h3>

        <p>
            Instagram
        </p>

        <p>
            Facebook
        </p>

        <p>
            TikTok
        </p>

    </div>

</footer>