<header class="header">

    <!-- LOGO -->

    <div class="logo">

        <a
            href="/"
            class="logo-link">

            FUTBOL STORE

        </a>

    </div>

    <!-- SEARCH -->

    <div class="search-container">

        <input
            type="text"
            placeholder="Buscar camisetas...">

    </div>

    <!-- NAV -->

    <nav class="nav-icons">

        <a href="/">
            Inicio
        </a>

        <a href="/carrito">

            Carrito (
            <span id="cartCount">0</span>
            )

        </a>

    </nav>

</header>