<header class="header">

    <a
        href="/"
        class="logo">

        FUTBOL STORE

    </a>

    <form
        action="/"
        method="GET"
        class="search-form">

        <input

            type="text"

            name="search"

            placeholder="Buscar productos..."

            class="search-input">

    </form>

    <div class="header-right">

        <a href="/">
            Inicio
        </a>

        <a href="/carrito">
            Carrito
        </a>

        <% if(admin){ %>

            <a href="/admin">
                Admin
            </a>

            <a href="/logout">
                Logout
            </a>

        <% } %>

    </div>

</header>

<nav class="menu">

    <ul>

        <li>
            <a href="/">
                Inicio
            </a>
        </li>

        <li>
            <a href="/selecciones">
                Selecciones
            </a>
        </li>

        <li>
            <a href="/clubes">
                Clubes
            </a>
        </li>

        <li>
            <a href="/retro">
                Retro
            </a>
        </li>

        <li>
            <a href="/entrenamiento">
                Entrenamiento
            </a>
        </li>

        <li>
            <a href="/ofertas">
                Ofertas
            </a>
        </li>

    </ul>

</nav>
